/* Define o estilo padrão do body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Cor de fundo */
}

/* Estilo para cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento de texto */
}

/* Estilo para navegação */
nav {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: left;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: underline;
}

/* Estilo para seções */
section {
  padding: 20px;
  text-align: center;
}

/* Estilo para imagens dentro de seções */
section img {
  display: block;
  margin: 0 auto; /* Centraliza a imagem */
}

/* Estilo para rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos para botões de retorno */
.btn-back {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration-color: black;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para formulários de login */
.login-form {
  width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form h2 {
  text-align: center;
}

/* Estilos para tabelas */
table {
  width: 100%;
}
table td {
  padding: 10px;
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 600px) {
  body {
      font-size: 14px;
  }
  .container {
      width: 90%;
      margin: 20px auto;
  }
  img {
      width: 100%;
      height: auto;
  }
}

.container {
  width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
